.section-containe-bg{
    padding: 0 2rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: #343333;
}
.section-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-content{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.section-bg{
    width: 4rem;
    height: 4rem;
    /* border: 2px solid red; */
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.section-synbol-size{
    font-size: 2rem;
}
.section-bg-color-red{
    background-color: #802a2a;
}
.section-bg-color-blue{
    background-color: #1a1a5a;
}
.section-bg-color-green{
    background-color: #154747;
}
.section-text{
    font-size: 1.2rem;
}
.secton-arrow{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: #6d6565;
}